In [12]:
import pandas as pd 
import numpy as np

df = pd.read_csv("Matteprov.csv")

#print(df.head(3))
#print(df.tail(2))


df = df.fillna(0)
df["Total"] = df.sum(axis=1)
df["Betyg"] = np.where(df["Total"] > 7, "Godkänt", "Underkänt")
df

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
0    Ada     3.0     0.0     2.0     3.0     0.0    8.0    Godkänt
1   Beda     2.0     3.0     1.0     3.0     3.0   12.0    Godkänt
2   Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänt
3   Deda     0.0     2.0     0.0     3.0     3.0    8.0    Godkänt
4    Eda     2.0     1.0     2.0     1.0     3.0    9.0    Godkänt
5   Feda     0.0     0.0     0.0     0.0     0.0    0.0  Underkänt
6   Geda     3.0     1.0     1.0     2.0     3.0   10.0    Godkänt
7   Heda     0.0     1.0     0.0     1.0     3.0    5.0  Underkänt
8    Ida     2.0     1.0     2.0     2.0     3.0   10.0    Godkänt
9   Keda     2.0     2.0     1.0     0.0     2.0    7.0  Underkänt
10  Leda     3.0     1.0     2.0     1.0     3.0   10.0    Godkänt
11  Meda     0.0     2.0     0.0     1.0     1.0    4.0  Underkänt

In [15]:
df["Betyg"]

0       Godkänt
1       Godkänt
2     Underkänt
3       Godkänt
4       Godkänt
5     Underkänt
6       Godkänt
7     Underkänt
8       Godkänt
9     Underkänt
10      Godkänt
11    Underkänt
Name: Betyg, dtype: object

In [26]:
#1a
import pandas as pd
antal_förvärvsarbetande = 0

df = pd.read_csv("sysselsattning.csv", encoding="ISO-8859-1", header=1)

for index, row in df.iterrows():
    
    #Kollar om raden för sysselsättning är förvärvsarbetande och att åldern inte överstiger 44.     Sen tas datan från raden med antalet och läggs till i en variabel. 
    if row["sysselsättning"] == "förvärvsarbetande" and int(row["ålder"][3:4]) <= 44:
        antal = int(row["2019"])
        antal_förvärvsarbetande += antal

print(f"Antalet förvärvsarbetare mellan 16-44 år 2019: {antal_förvärvsarbetande}")

Antalet förvärvsarbetare mellan 16-44 år 2019: 2706467

In [27]:
#1b
import pandas as pd
antal_förvärvsarbetande = 0

df = pd.read_csv("sysselsattning.csv", encoding="ISO-8859-1", header=1)

for index, row in df.iterrows():
    
    if row["sysselsättning"] == "ej förvärvsarbetande" and int(row["ålder"][3:4]) <= 44:
        antal = int(row["2019"])
        antal_förvärvsarbetande += antal

print(f"Antalet ej förvärvsarbetare mellan 16-44 år 2019: {antal_förvärvsarbetande}")

Antalet ej förvärvsarbetare mellan 16-44 år 2019: 1070645